@layer theme, base, antd, antd-pro, components, utilities;
@import 'tailwindcss';

@theme {
  --color-primary: #c96442;
  --color-error: #fe5b58;
  --color-warning: #ff9500;
  --color-warning-surface: #eeefcc;
  --color-background: #faf9f5;
  --color-background-2: #f5f4ed;
  --color-background-3: #f0eee6;
  --color-background-4: #fbf9f8;
  --color-green: #00c73c;
  --color-light-green: #dff4e7;
  --color-gray: #ebe6e7;
  --color-hover: #e8e6dc;
}
@layer {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .ant-carousel .slick-next,
  .ant-carousel .slick-prev {
    color: black;
    opacity: 100%;
  }

  .scroll-to-bottom-button > button {
    @apply invisible;
  }
}

:root {
  /* font-family: "Newsreader", serif; */
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  scrollbar-color: gray transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}